<!-- 
File name: edit.ejs
Student’s Name: Wonsuk Cha
StudentID: 301155132
Date: 2021.03.04.
-->

<!-- display partials: header, main nav -->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>
                <%= title %>
            </h1>

            <form method="post" autocomplete="off">
                <div class="form-group">
                    <label for="name">Book Title</label>
                    <input type="text" name="name" id="name" class="form-control"
                        placeholder="Enter book title" value="<%= book.name %>">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" name="author" id="author" class="form-control"
                        placeholder="Enter author name" value="<%= book.author %>">

                </div>
                <div class="form-group">
                    <label for="published">Published year</label>
                    <input type="text" name="published" id="published" class="form-control"
                        placeholder="Enter published year" value="<%= book.published %>">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" placeholder="Enter description of the book"
                        class="form-control"><%= book.description %></textarea>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" name="price" id="price" class="form-control" placeholder="Enter price" value="<%= book.price %>">
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-pencil-alt"></i> Submit
                </button>
                <a href="/book-list" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Cancel</a>

            </form>
        </div>
    </div>
</div>

<!-- display partials: bottom nav, footer -->
<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>